numpy~=1.24.4
scikit-learn~=1.6.1
PyYAML~=6.0
ParamPaCMAP @ git+https://github.com/hyhuang00/ParamRepulsor.git
opentsne~=1.0.1
umap-learn
hnne~=1.0.2
pacmap~=0.8.0
torch~=2.2.2
parampacmap~=0.1.1rc0
SNEkhorn @ git+https://github.com/PythonOT/SNEkhorn.git
trimap~=1.1.4